	<head>
		<title>SAFETAG</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Security Auditing Framework and Evaluation Template for Advocacy Groups" />
		<meta name="keywords" content="SAFETAG, audit, pentest, NGO" />
		<!-- <link rel="icon" type="image/png" href="/images/" /> -->
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<!-- <meta property="og:image" content=" "> -->
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		    <style>
		        span.icon:before, a.icon:before
		        {
		            content:"+";
		        }
		    </style>
</noscript>
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	</head>
