
    <!-- Header -->
      <header id="header" class="skel-layers-fixed">
        <h1 id="logo"><a href="/index.html">SAFETAG™</a>: {{ page.title }} </h1>
        <nav id="nav">
          <ul>
            <li><a class="button special" href="/index.html">Home</a>
                <ul>
                  <li><a class="" href="/index.html#about">About</a></li>
                  <li><a class="" href="/index.html#framework">Framework</a></li>
                  <li><a class="" href="/index.html#curricula">Curricula</a></li>
                  <li><a class="" href="/index.html#license">License</a></li>
                  <li><a class="" href="/index.html#contact">Contact</a></li>
                </ul>
            </li>
            <li><a class="button special" href="/blog">Updates</a>
              <ul>
                {% for post in site.posts limit:3 %}
                    <li><a href="{{ post.url }}">{{ post.title }} ({{ post.date  | date: '%B'}})</a></li>
                {% endfor %}
                    <li><a href="/blog">(more entries)</a></li>
              </ul>
            </li>
              <li><a class="button" href="/index.html#framework">Framework</a></li>
              <li><a class="button" href="/index.html#curricula">Curricula</a></li>

<!--              <li><a class="button special" href="/index.html#framework">Framework</a></li>
              <li><a class="button" href="/index.html#curricula">Curricula</a></li>
              <li><a class="button" href="/index.html#license">License</a></li>-->
              <li><a class="button" href="/index.html#contact">Contact</a></li>

          </ul>

        </nav>
      </header>
